@page
@model TopTenMovies_RazorPages.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
    ViewData["PageTitle"] = "EDIT MOVIE: " + Model.Movie.Title;
    ViewData["ShowAddButton"] = false;
    ViewData["ShowBackButton"] = true;
}

<section class="edit-container">
    <section class="form-box">
        <form method="post" enctype="multipart/form-data">

            <input type="hidden" asp-for="Movie.Id" />

            <div class="form-group">
                <label asp-for="Movie.Title"></label>
                <input asp-for="Movie.Title" class="form-control" required oninput="updatePreview()" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie.Rating"></label>
                <input asp-for="Movie.Rating" type="number" class="form-control" step="0.1" required oninput="updatePreview()" />
                <span asp-validation-for="Movie.Rating" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie.Genre"></label>
                <input asp-for="Movie.Genre" class="form-control" required oninput="updatePreview()" />
                <span asp-validation-for="Movie.Genre" class="text-danger"></span>
            </div>

            <div class="upload">
                <label for="input-file" id="drop-area">
                    <input type="file" id="input-file" name="poster" hidden onchange="previewImage(event)" />
                    <div id="image-view">
                        <img src="~/background/upload.png" />
                        <p>Drag and drop or click here<br />to upload image</p>
                    </div>
                </label>
            </div>

            <div class="form-group">
                <label asp-for="Movie.Year"></label>
                <input asp-for="Movie.Year" type="number" class="form-control" required oninput="updatePreview()" />
                <span asp-validation-for="Movie.Year" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie.Director"></label>
                <input asp-for="Movie.Director" class="form-control" required oninput="updatePreview()" />
                <span asp-validation-for="Movie.Director" class="text-danger"></span>
            </div>

            <div class="description">
                <label asp-for="Movie.Description"></label>
                <textarea asp-for="Movie.Description" class="form-control" required oninput="updatePreview()"></textarea>
                <span asp-validation-for="Movie.Description" class="text-danger"></span>
            </div>

            <div class="button-container">
                <button type="submit">Accept</button>
                <button type="button" id="clear-button">Clear</button>
            </div>
        </form>
    </section>

    <section class="preview-box">
        <div class="preview-title">
            <h1 class="add-title">@Model.Movie.Title</h1>
        </div>
        <div class="preview-group">
            <div class="preview-rating">IMDb: @Model.Movie.Rating</div>
            <div class="preview-genre">@Model.Movie.Genre</div>
            <img class="preview-posterUrl" id="output-file" src="@Model.Movie.PosterUrl" />
            <div class="preview-year">@Model.Movie.Year</div>
            <div class="preview-director">@Model.Movie.Director</div>
        </div>
        <div class="preview-description">
            <div class="add-description">@Model.Movie.Description</div>
        </div>
    </section>
</section>

<script src="~/js/edit.js"></script>
